<%- include('common/header.ejs') %>
  <%- include('header.ejs') %>
  <div class="row">
    <%- include('nav.ejs') %>
    <div class="col-md-10" id="app">
      <form class="form-horizontal center-block" method="post" enctype="multipart/form-data" action="/upload">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">名称</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputEmail3" placeholder="名称">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">LOGO</label>
          <div class="col-sm-10">
            <label class="btn btn-success btn-file">
              选择文件 <input type="file" class="hidden" name="logo" @change="handleChange" accept="image/gif, image/jpeg">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">营业时间</label>
          <div class="col-sm-10">
            <el-time-picker
              is-range
              v-model="timerange"
              format="HH:mm"
              placeholder="选择时间范围">
            </el-time-picker>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">地址</label>
          <div id="mapContainer"></div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">图片</label>
          <div class="col-sm-10">
            <label class="btn btn-success btn-file">
              选择文件 <input type="file" class="hidden" name="photos" multiple="multiple" accept="image/gif, image/jpeg">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">所在城市</label>
          <div class="col-sm-10">
            <el-select v-model="currProvince" placeholder="请选择" @change="handleProvChange">
              <el-option
                      v-for="item in provinces"
                      :label="item.name"
                      :value="item.code">
              </el-option>
            </el-select>
            <el-select v-model="currCity" placeholder="请选择">
              <el-option
                      v-for="item in cityList"
                      :label="item.name"
                      :value="item.code">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">简介</label>
          <div class="col-sm-10">
            <textarea name="summary" class="form-control" id="inputEmail3" placeholder="简介"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger btn-lg">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    var provinces = <%-provinces%>
    var cities = <%-cities%>
  </script>
  <script src="http://map.qq.com/api/js?v=2.exp&key=77SBZ-PTGWU-7CQVS-2ECL2-Y4DWT-CMFZB"></script>
  <script src="/js/form.js"></script>
<%- include('common/footer.ejs') %>
