<%- include('common/header.ejs') %>
  <%- include('header.ejs') %>
  <div class="row">
    <%- include('nav.ejs') %>
    <div class="col-md-10" id="app">
      <table class="table table-hover">
        <thead>
          <tr><th>#</th> <th>时长</th> <th>价格</th></tr>
        </thead>
        <tbody>
          <tr v-for="(row, index) in rows">
            <template v-if="row.id > -1">
                <template v-if="!row.edit">
                  <th scope="row">{{index + 1}}</th>
                  <td>{{row.seconds}}秒</td>
                  <td>{{row.price}}元</td>
                  <td>
                      <button type="button" class="btn btn-sm btn-primary" @click="editById(row.id)">修改</button>
                      <button type="button" class="btn btn-sm btn-danger" @click="deleteById(row.id)">删除</button>
                  </td>
                </template>
                <template v-else>
                <th scope="row">{{index}}</th>
                <td><input type="text" v-model="row.seconds"></td>
                <td><input type="text" v-model="row.price"></td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" @click="doUpdate(row.id)">更新</button>
                    <button type="button" class="btn btn-sm btn-danger" @click="cancelUpdate(row.id)">取消</button>
                </td>
                </template>
            </template>
            <template v-else>
              <th scope="row">{{index}}</th>
              <td><input type="text" v-model="row.seconds"></td>
              <td><input type="text" v-model="row.price"></td>
              <td>
                <button type="button" class="btn btn-default" @click="doPlus">添加</button>
                <button type="button" class="btn btn-danger" @click="cancelPlus">取消</button>
              </td>
            </template>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary btn-lg" @click="plusRow">添加霸屏</button>
    </div>
  </div>
<script>
var rows = <%-JSON.stringify(rows)%>
var barInfo = <%-JSON.stringify(barInfo)%>
</script>
<script src="<%=url('init.js')%>"></script>
<script src="<%=url('occupy.bundle.js')%>"></script>
<%- include('common/footer.ejs') %>